<div id="parts" class="block">
    <button class="bg-indigo-600 rounded-sm text-white px-4 py-2">✓ Post</button>

    <h1 class="text-3xl py-2">
        Create a post
    </h1>

    <h2 class="py-1">
        it's time to inspire
    </h2>

    <input type="text" id="post-title" class="border-2 border-gray-300 rounded-sm px-4 py-2 placeholder-gray-300 my-1" placeholder="Title your post">

    <form>
        <select id="duration" class="border-2 border-gray-300 rounded-sm px-4 py-2 w-40 placeholder-gray-300 my-1">
            <option selected disabled value="1">time/duration</option>
            <option value="2">10 mins</option>
            <option value="3">30 mins</option>
            <option value="4">1 hour</option>
            <option value="5">2 hours</option>
        </select>
    </form>
</div>
