<div id="parts" class="block">
    <button class="px-4 py-2 text-white bg-indigo-600 rounded-sm">✓ Post</button>

    <h1 class="py-2 text-3xl">
        Create a post
    </h1>

    <h2 class="py-1">
        it's time to inspire
    </h2>

    <input type="text" id="post-title" class="px-4 py-2 my-1 placeholder-gray-300 border-2 border-gray-300 rounded-sm" placeholder="Title your post">

    <form>
        <select id="duration" class="w-40 px-4 py-2 my-1 placeholder-gray-300 border-2 border-gray-300 rounded-sm">
            <option selected disabled value="1">time/duration</option>
            <option value="2">10 mins</option>
            <option value="3">30 mins</option>
            <option value="4">1 hour</option>
            <option value="5">2 hours</option>
        </select>
    </form>
</div>
