<% if user_signed_in? %>
  <div class="fixed bottom-0 items-center px-8 py-4 space-x-8 text-center bg-white drop-shadow-lg justify-evenly">
    <%= link_to "Explore", root_path %>
    <%= link_to "Create", new_guide_path %>
    <%= link_to "Profile", user_path(current_user) %>
  </div>
<% end %>
